@layer FLOATING-IMGS{
    .side-imgs{
        position: relative;

    }

    .float > img, .float2 > img, .float3 > img {
        width: 300px;
        height: 400px;
        object-fit: cover;
        position: absolute;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 1ms;
    }


    .float > img {
        top: 50px;
        right: 550px;
        animation: floats 3.3s ease-in-out infinite;
    }

    .float2 > img {
        top: 180px;
        right: 100px;
        animation: floats 3.6s ease-in-out infinite;
    }

    .float3 > img{
        right: 450px;
        top: 500px;
        animation: floats 3.9s ease-in-out infinite;
}

}
