.gallery-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: 220px;
  grid-auto-flow: dense;
  gap: 5px;
}

.bento-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bento-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Bento spans */
.bento-item:nth-child(1) {
  grid-area: span 2 / span 2;
}

.bento-item:nth-child(4n+1) {
  grid-row: span 2;
}

.bento-item:nth-child(4n+2) {
  grid-column: span 2;
}
