.main-content-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.nail-services, .spa-treatments{
    width: 600px;
    height: 400px;
    border-radius: 8px;
    background-color: var(--darker-bg-color);
    text-align: center;
    color: var(--txt-color);
    padding: 10px 15px;
}

.main-content-cont > h1{
    margin: 50px 0;
    color: var(--darker-bg-color);
}

:root{
    --nails: url(../images/background/nail-services.png);
    --spa-treatment: url(../images/background/A\ serene\ spa\ setting.png);
}

.nail-services{
    background-image: var(--nails);
    
}

.spa-treatments{
    background-image: var(--spa-treatment);
}

.nail-services , .spa-treatments{
    background-size: cover;
    background-position: center;
    position: relative;
    isolation: isolate;
}

.nail-services > h2{
    font-size: 2.3rem;
}

.nail-services::before, .spa-treatments::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
            rgba(0,0,0,.55),
            rgba(0,0,0,.35));
    z-index: -1;
    opacity: .45;
    border-radius: inherit;
}

.services-btn{
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: var(--btn-color);
    font-family: inherit;
    color: var(--darker-bg-color);
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;

    position: absolute;
    bottom: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .5s ease-in-out
}

.services-btn:hover{
    opacity: .8;
}