.main-content-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.nail-services, .spa-treatments{
    width: 100%;
    height: 400px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: var(--darker-bg-color);
    text-align: center;
    color: var(--txt-color);
    padding: 10px 15px;
}

.nails-bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
}


.nails-bg > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.main-content-cont > h1{
    margin: 50px 0;
    color: var(--darker-bg-color);
}

.nail-services{
    
}