:root{
    --bg-color: #616c60;
    --txt-color: #fecfcb;
    --btn-color: #ffd23b;
}

*{
    box-sizing: border-box;
    /* font-family: "Plus Jakarta Sans"; */
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color);
    margin: 0;
    margin-top: 80px;
    font-family: "Righteous", Arial, Helvetica, sans-serif;
    padding-bottom: 10000px;
    
}

@layer HEADER{

    header{
        width: 100%;
        height: 80px;
        padding: 0 20px;
        background-color: var(--bg-color);
        border-bottom: 1px solid #ffd13b0c;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;
    }

    .lft-header-flex{
        display: flex;
        align-items: center;
    }

    .lft-header-flex > h1 {
        font-size: 24px;
        color: var(--txt-color);
        margin: 0;
        cursor: pointer;
    }

    .lft-header-flex > img {
        width: 60px;
        height: 60px;
        margin-left: -16px;
        z-index: 2;
        cursor: pointer;
    }

    /* NAVIGATION */
    a{
        text-decoration: none;
        color: var(--txt-color);
    }
    .nav-links{
        display: flex;
        gap: 60px;
        list-style-type: none;
        /* color: var(--txt-color); */
        font-size: 18px;
    }

    .nav-links > li{
        cursor: pointer;
        padding: 7px 15px;
        border-radius: 8px;
        transition: scale .5s, box-shadow .5s;
        font-family: inherit;
    }

    .nav-links > li:hover{
        background-color: #ecc5bb05;
        color: var(--btn-color);
        scale: 1.1;
        box-shadow: 0 0 0 1px var(--btn-color), 0 0 0 1px var(--btn-color);
        
    }

}

@layer BODY-LOGO{
    .landing-page{
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 11%;
        left: 5%;
    }

    .logo > img {
        width: 350px;
        height: 350px;
        cursor: pointer;
        animation: logo 3s;
        margin-left: -6px;
    }

    .logo > h1{
        color: var(--txt-color);
        animation: name 3s ;
        animation-fill-mode: forwards;
        margin: 0;
        font-size: 110px;
    }

    .logo > h2{
        color: var(--txt-color);
        animation : name 2s ease 3s;
        animation-fill-mode: forwards;
        margin: 0;
        font-size: 35px;
        letter-spacing: 6px;
        margin-left: 6px;
        margin-top: -30px;
        opacity: 0;
    }

    .explore-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .explore-btn:hover > button, 
    .explore-btn > .arrow{
        transition: 1s ease;
    }   

    .explore-btn > button {
        border: none;
        padding: 8px 20px;
        border-radius: 6px;
        background-color: var(--btn-color);
        font-family: inherit;
        color: var(--bg-color);
        font-size: 17px;
        cursor: pointer;
    }

    .explore-btn:hover > button{
        transform: scale(1.1);
    }

    .arrow{
        font-size: 50px;
        color: var(--btn-color);
        margin-top: 5px;
        cursor: pointer;
    }

    .explore-btn:hover > .arrow{
        transform: translateY(15px);
    }
    
}

@layer FLOATING-IMGS{
    .side-imgs{
        position: relative;

    }

    .float > img, .float2 > img, .float3 > img {
        width: 300px;
        height: 400px;
        object-fit: cover;
        position: absolute;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 1ms;
    }


    .float > img {
        top: 50px;
        right: 550px;
        animation: floats 3.3s ease-in-out infinite;
    }

    .float2 > img {
        top: 180px;
        right: 100px;
        animation: floats 3.6s ease-in-out infinite;
    }

    .float3 > img{
        right: 450px;
        top: 500px;
        animation: floats 3.9s ease-in-out infinite;
}

}

@layer FOOTER{

    footer{
        width: 100%;
        height: 100%;
        /* background-color: rgba(0, 0, 0, 0.699); */
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        /* display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr); */

    }

    .footer-logo{
        display: flex;
        align-items: center;
    }

    .footer-logo > img{
        width: 150px;
        height: 150px;
        margin-left: -35px;
        animation: spin 10s linear infinite;
        transform-style: preserve-3d;
    }


    .footer-logo > h1 {
        font-size: 50px;
        color: var(--txt-color);
    }

    /* .divider{
        width: 100%;
        border: 1px solid var(--btn-color);
    } */

    /* SOCIAL MEDIA ICONS */
    .social-media{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }

    .email > img, .insta > img, .facebook > img {
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: transform 1s ease;
    }

    .email > img:hover, .insta > img:hover, .facebook > img:hover{
        transform: rotateY(180deg);
    }

    /* EMAIL, TEL, AND ADDRESS */
    .contact, .quick-links{
        color: var(--btn-color);
        margin: 0;
        margin-bottom: 5px;
    }

    .info-wrapper{
        display: flex;
        gap: 250px;
    }

    /* .footer-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    } */

    .ftr-info > p{
        margin: 0;
        line-height: 30px;
        color: var(--txt-color);
    }

    .footer-links{
        list-style: none;
        padding: 0;
        line-height: 30px;
        margin: 0;
    }

    .footer-links > li:hover{
        text-decoration: underline solid var(--txt-color) 2px;
    }

    .footer-info-flex{
        display: flex;
        flex-direction: column;
        align-items:center ;
        justify-content: center;
        gap: 50px
    }

    /*****FORM(USER INPUT INFORMATION)******/
    .form-flex{
        display: flex;
        gap: 200px;
    }

    form{
        width: 980px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    label{
        font-size: 16px;
        color: var(--txt-color);
        display: block;
        margin-bottom: 20px;
    }

    #name, #email, #feedback{
        border: none;
        background-color: var(--bg-color);
        width: 450px;
        border-bottom: 1px solid var(--btn-color);
        resize: none;
        padding: 0;
        outline: none;
        color: white;
        font-size: 16px;
        font-family: inherit;
    }

    #feedback{
        width: 930px;
        height: 30px;
    }

    .name-email-flex{
        display: flex;
        gap: 25px;
    }

    .submit-btn{
        width: 930px;
        height: 45px;
        border-radius: 8px;
        border: none;
        font-family: inherit;
        font-size: 18px;
        color: var(--bg-color);
        background-color: var(--btn-color);
        cursor: pointer;
        position: relative;
    }

    .submit-btn > .icon{
        opacity: 0;
        text-align: center;
        font-size: 50px;
        position: absolute;
        top: -11px;
        transition: opacity 1s ease-in-out;
    }

    .submit-btn > .text{
        opacity: 1;
        position: absolute;
        top: 11px;
        transition: opacity 1s ease-in-out;
    }

    .submit-btn:hover > .icon{
        opacity: 1;
    }

    .submit-btn:hover > .text{
        opacity: 0;
    }

   
}

@layer KEYFRAMES{

    @keyframes name{
        0%{
            opacity: 0;
        }

        100%{
            opacity: 1;
            transform: translateY(-50%);
        }
    }

    @keyframes logo {
        0%{scale: 0;}

        100%{transform: rotate(360deg);}
    }

    @keyframes floats{
        0%{ transform: translateY(0); }
        50%  { 
            transform: translateY(-5%); 
        }
        100% { transform: translateY(0); } 
    }

    @keyframes spin{
        0%{
            transform: rotateY(-360deg);
        }
        
        100%{
            transform: rotateY(360deg);
        }
    }

}