:root{
    --bg-color: #616c60;
    --txt-color: #fecfcb;
    --btn-color: #ffd23b;
    --darker-bg-color: #4e564d;
}

*{
    box-sizing: border-box;
    /* font-family: "Plus Jakarta Sans"; */
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color);
    margin: 0;
    font-family: "Righteous", Arial, Helvetica, sans-serif;
    padding-bottom: 10000px;
    
}

@layer FOOTER{

    footer{
        width: 100%;
        height: 100%;
        /* background-color: rgba(0, 0, 0, 0.699); */
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        /* display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr); */

    }

    .footer-logo{
        display: flex;
        align-items: center;
    }

    .footer-logo > img{
        width: 150px;
        height: 150px;
        margin-left: -35px;
        animation: spin 10s linear infinite;
        transform-style: preserve-3d;
    }


    .footer-logo > h1 {
        font-size: 50px;
        color: var(--txt-color);
    }

    /* .divider{
        width: 100%;
        border: 1px solid var(--btn-color);
    } */

    /* SOCIAL MEDIA ICONS */
    .social-media{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }

    .email > img, .insta > img, .facebook > img {
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: transform 1s ease;
    }

    .email > img:hover, .insta > img:hover, .facebook > img:hover{
        transform: rotateY(180deg);
    }

    /* EMAIL, TEL, AND ADDRESS */
    .contact, .quick-links{
        color: var(--btn-color);
        margin: 0;
        margin-bottom: 5px;
    }

    .info-wrapper{
        display: flex;
        gap: 250px;
    }

    /* .footer-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    } */

    .ftr-info > p{
        margin: 0;
        line-height: 30px;
        color: var(--txt-color);
    }

    .footer-links{
        list-style: none;
        padding: 0;
        line-height: 30px;
        margin: 0;
    }

    .footer-links > li:hover{
        text-decoration: underline solid var(--txt-color) 2px;
    }

    .footer-info-flex{
        display: flex;
        flex-direction: column;
        align-items:center ;
        justify-content: center;
        gap: 50px
    }

    /*****FORM(USER INPUT INFORMATION)******/
    .form-flex{
        display: flex;
        gap: 200px;
    }

    form{
        width: 980px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    label{
        font-size: 16px;
        color: var(--txt-color);
        display: block;
        margin-bottom: 20px;
    }

    #name, #email, #feedback{
        border: none;
        background-color: var(--bg-color);
        width: 450px;
        border-bottom: 1px solid var(--btn-color);
        resize: none;
        padding: 0;
        outline: none;
        color: white;
        font-size: 16px;
        font-family: inherit;
    }

    #feedback{
        width: 930px;
        height: 30px;
    }

    .name-email-flex{
        display: flex;
        gap: 25px;
    }

    .submit-btn{
        width: 930px;
        height: 45px;
        border-radius: 8px;
        border: none;
        font-family: inherit;
        font-size: 18px;
        color: var(--bg-color);
        background-color: var(--btn-color);
        cursor: pointer;
        position: relative;
    }

    .submit-btn > .icon{
        opacity: 0;
        text-align: center;
        font-size: 50px;
        position: absolute;
        top: -11px;
        transition: opacity 1s ease-in-out;
    }

    .submit-btn > .text{
        opacity: 1;
        position: absolute;
        top: 11px;
        transition: opacity 1s ease-in-out;
    }

    .submit-btn:hover > .icon{
        opacity: 1;
    }

    .submit-btn:hover > .text{
        opacity: 0;
    }

   
}

@layer KEYFRAMES{

    @keyframes name{
        0%{
            opacity: 0;
        }

        100%{
            opacity: 1;
            transform: translateY(-50%);
        }
    }

    @keyframes logo {
        0%{scale: 0;}

        100%{transform: rotate(360deg);}
    }

    @keyframes floats{
        0%{ transform: translateY(0); }
        50%  { 
            transform: translateY(-5%); 
        }
        100% { transform: translateY(0); } 
    }

    @keyframes spin{
        0%{
            transform: rotateY(-360deg);
        }
        
        100%{
            transform: rotateY(360deg);
        }
    }

}